
div.footer
  div.center-div
    img(src='../images/Vector-Smart-Object.png')
    h2 We Provide Values To Your Needs
    hr
    .list
         ul.text-align
                li
                     a(href="#")
                        h7 BR0CHURE
                     &nbsp; | &nbsp;
                li
                     a(href="#")
                        h7 BIOLIFE
                     &nbsp; | &nbsp;
                li
                     a(href="#")
                        h7 OUR COMPANIES
                     &nbsp; | &nbsp;
                li
                     a(href="#")
                        h7  TOP FOR CRM
                     &nbsp; | &nbsp;
                li
                     a(href="#")
                        h7  PUBLICATIONS

      .social-icons
        ul.text-align
            li
                a(href='#', target="_blank")
                  i.fa.fa-twitter
            li
                a(href='#', target="_blank")
                  i.fa.fa-linkedin
            li
                a(href='#', target="_blank")
                  i.fa.fa-facebook
            li
                a(href='#', target="_blank")
                  i.fa.fa-instagram
            li
                a(href='#', target="_blank")
                  i.fa.fa-pinterest
            li
                a(href='#', target="_blank")
                  i.fa.fa-google-plus
            li
                a(href='#', target="_blank")
                  i.fa.fa-youtube


    .text-f
        h8 ©2016 ACILTD. ALL RIGHTS RESERVED | A WEBABLE WEBSITE
