
div.slideUp
     nav.top-bar.data-topbar.row.header
            div.left.logo#logo
                 //.color.hide
                    img(src='/images/aci/Logo top left.png')
                 .w-logo
                    a(href="/")
                        img(src='/images/aci/logo_color.png')
            .brand-name
                    h2 ACI AGRIBUSINESS



            div.right
                .button_container#toggle
                    span.top
                    span.middle
                    span.bottom

            div.middle-heading
              .menu-product-page
                  h2.italic CREATING WEALTH FOR FARMERS

              .overlay2#overlay2
                .left.hide
                    a(href="/")
                        img(src='/images/aci/logo_color.png')

                  nav.overlay-menu
                    ul
                         li
                            a(href="/") SBUs
                         li#about-aci-menu-link
                            a(href="/#about-aci") ABOUT
                         li#products-menu-link
                            a(href="/#products") PRODUCTS
                         li
                            a(href="#") FORUM
                         li
                            a(href="/contact") CONTACTS

                .social-icons-menu
                    ul.text-align
                        li
                            a(href='#', target="_blank")
                              i.fa.fa-twitter
                        li
                            a(href='#', target="_blank")
                              i.fa.fa-linkedin
                        li
                            a(href='#', target="_blank")
                              i.fa.fa-facebook
                        li
                            a(href='#', target="_blank")
                              i.fa.fa-instagram
                        li
                            a(href='#', target="_blank")
                              i.fa.fa-pinterest
                        li
                            a(href='#', target="_blank")
                              i.fa.fa-google-plus
                        li
                            a(href='#', target="_blank")
                              i.fa.fa-youtube
