.row.collapse.full-width.cs-branding-hero
    .large-12.columns
        img(src='/images/aci/aci-fertilizer.jpg').branding-image
        .cs-brand-text
            .hero-text.text-center
                p Creating hype for E-commerce launch
.row.wrapper.full-width#cap
    .case1
        h3 ABOUT
        br
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.


.row.collapse.full-width.strategy-grid(data-equalizer='')
    .small-12.medium-8.large-8.columns(data-equalizer-watch='')
        img.wow.slideInLeft(src='/images/aci/fertilizer3.jpg')
    .small-12.medium-4.large-4.columns(data-equalizer-watch='').wow.slideInRight
        img(src='/images/aci/fertilizer1.jpg')
        img.wow.slideInRight(src='/images/aci/fertilizer2.jpg')

.row.wrapper.full-width#cap
    .case1
          h3 FEATURED PRODUCTS
          br
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.


.team-pics
    .row.wrapper.full-width.collapse
        .small-12.medium-6.large-3.columns.team-pic
            .overlay
            h5.name

            img(src='/images/aci/fertilizer.jpg')
        .small-12.medium-6.large-3.columns.team-pic
            .overlay
            h5.name

            img(src='/images/aci/fertilizer.jpg')
        .small-12.medium-6.large-3.columns.team-pic
            .overlay
            h5.name
            img(src='/images/aci/fertilizer.jpg')
        .small-12.medium-6.large-3.columns.team-pic
            .overlay
            h5.name
            img(src='/images/aci/fertilizer.jpg')
        .small-12.medium-6.large-3.columns.team-pic
            .overlay
            h5.name
            img(src='/images/aci/fertilizer.jpg')
        .small-12.medium-6.large-3.columns.team-pic
            .overlay
            h5.name
            img(src='/images/aci/fertilizer.jpg')
        .small-12.medium-6.large-3.columns.team-pic
            .overlay
            h5.name
            img(src='/images/aci/fertilizer.jpg')
        .small-12.medium-6.large-3.columns.team-pic
            .overlay
            h5.name
            img(src='/images/aci/fertilizer.jpg')
        .small-12.medium-6.large-3.columns.team-pic
            .overlay
            h5.name
            img(src='/images/aci/fertilizer.jpg')
        .small-12.medium-6.large-3.columns.team-pic
            .overlay
            h5.name
            img(src='/images/aci/fertilizer.jpg')
        .small-12.medium-6.large-3.columns.team-pic
            .overlay
            h5.name
            img(src='/images/aci/fertilizer.jpg')
        .small-12.medium-6.large-3.columns.team-pic
            .overlay
            h5.name
            img(src='/images/aci/fertilizer.jpg')

.full-width.text-center.work
    #show_more
        h11 SHOW MORE
