//.m-menu
    a(href="#case-studies") Case Studies |
    a(href="#cap") Capabilities |
    a(href="#client") Clients

.work_pic#case-studies
   .row.full-width.collapse
        .small-12.medium-4.large-4.xlarge.columns.work-prof
            a(href="../case-studies/social-media/dell.html")
             .workhover
               .describe
                 p.lookfor ACI CROPEX <br /> Selling 3,800 laptops online
                 br
                 p.clientprof Multi-channel Digital Campaign
             img(src='/images/aci/aci-cropex.jpg')

        .small-12.medium-4.large-4.xlarge.columns.work-prof
           a(href="../case-studies/social-media/champs21.html")
            .workhover
              .describe
                p.lookfor ACI ANIMAL HEALTH <br /> 2,600 app downloads through FB Ads
                br
                p.clientprof Digital Advertising Campaign
            img(src='/images/aci/aci-animal health.jpg')

        .small-12.medium-4.large-4.xlarge.columns.work-prof
           a(href="../case-studies/social-media/aymad.html")
            .workhover
              .describe
                p.lookfor ACI MOTORS <br />Platform to connect with urban youth
                br
                p.clientprof Multi-channel Digital Campaign
            img(src='/images/aci/aci-motors.jpg')

        .small-12.medium-4.large-4.xlarge.columns.work-prof
            a(href="../case-studies/social-media/aarong.html")
             .workhover
              .describe
                p.lookfor ACI CROP CARE AND PUBLIC HEALTH<br /> Creating hype for E-commerce launch
                br
                p.clientprof Multi-channel Digital Campaign
            img(src='/images/aci/aci-crop care & public health.jpg')

        .small-12.medium-4.large-4.xlarge.columns.work-prof
           a(href="../case-studies/social-media/i-am-real.html")
            .workhover
               .describe
                  p.lookfor ACI FERTILIZERS <br /> Engagement leading to real sales
                  br
                  p.clientprof Social Media Marketing Campaign
            img(src='/images/aci/aci-fertilizer.jpg')

        .small-12.medium-4.large-4.xlarge.columns.work-prof
           a(href="../case-studies/social-media/kaspersky.html")
            .workhover
              .describe
                p.lookfor ACI SEEDS <br />One print ad’s budget spent online
                br
                p.clientprof Digital Advertising Campaign
            img(src='/images/aci/aci-seed.jpg')

        .small-12.medium-4.large-4.xlarge.columns.work-prof
          a(href="../case-studies/identity/raintree.html")
            .workhover
              .describe
                p.lookfor ASRBC <br /> Premium Boutique Hotel
                br
                p.clientprof Identity Design
            img(src='/images/aci/aci-asrbc.jpg')

        .small-12.medium-4.large-4.xlarge.columns.work-prof
          a(href="../case-studies/social-media/preetom.html")
            .workhover
               .describe
                  p.lookfor PREMIAFLEX <br /> Reviews, WOM & Best The Burger in Town
                  br
                  p.clientprof Social Media Marketing Campaign
            img(src='/images/aci/aci-premiaflex.jpg')

        .small-12.medium-4.large-4.xlarge.columns.work-prof
          a(href="../case-studies/identity/georges.html")
            .workhover
              .describe
                p.lookfor BUSINESS DEVELOPMENT & PARTNERSHIPS <br />Cutting edge casual chic restaurant in the style of the current New York Italian
                br
                p.clientprof Identity Design & Social Media
            img(src='/images/aci/aci-business development & partnerships.jpg')

        .small-12.medium-4.large-4.xlarge.columns.work-prof
           a(href="../case-studies/social-media/cm.html")
            .workhover
              .describe
                p.lookfor GROWING BANGLADESH <br /> Increasing fuel sales by 20%
                br
                p.clientprof Social Media Marketing Campaign
            img(src='/images/aci/aci-growing bangladesh.jpg')

        .small-12.medium-4.large-4.xlarge.columns.work-prof
          a(href="../case-studies/identity/filmbox.html")
            .workhover
               .describe
                 p.lookfor BIOLIFE <br /> Videos just got delicious!
                 br
                 p.clientprof Identity Design
            img(src='/images/aci/aci-biolife.jpg')

        .small-12.medium-4.large-4.xlarge.columns.work-prof
          a(href="../case-studies/social-media/jaago.html")
            .workhover
              .describe
                p.lookfor CSR <br />Acquiring 235 donors through trial & error
                br
                p.clientprof Multi-channel Digital Campaign
            img(src='/images/aci/aci-csr.jpg')


        .small-12.medium-4.large-4.xlarge.columns.work-prof
          a(href="../case-studies/social-media/jaago.html")
            .workhover
              .describe
                p.lookfor PR & COMMUNICATIONS <br />Acquiring 235 donors through trial & error
                br
                p.clientprof Multi-channel Digital Campaign
            img(src='/images/aci/aci-pr & communication.jpg')
        .small-12.medium-4.large-4.xlarge.columns.work-prof
          a(href="../case-studies/social-media/jaago.html")
            .workhover
              .describe
                p.lookfor JOBS <br />Acquiring 235 donors through trial & error
                br
                p.clientprof Multi-channel Digital Campaign
            img(src='/images/aci/aci-jobs.jpg')
        .small-12.medium-4.large-4.xlarge.columns.work-prof
          a(href="../case-studies/social-media/jaago.html")
            .workhover
              .describe
                p.lookfor EVENTS <br />Acquiring 235 donors through trial & error
                br
                p.clientprof Multi-channel Digital Campaign
            img(src='/images/aci/aci-events.jpg')






.full-width.text-center.work
    #show_more
        h11 SHOW MORE
.clear
.row.wrapper#cap
    .capabilities.full-width
        h3 ABOUT ACI AGRIBUSINESS

        .work-bodytext.full-width

          .small-12.large-12.medium-12.columns
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
.svg-box.full-width
 .six-capabilities
  a(href="../capabilities/#strategy")
    .small-12.medium-6.large-4.columns.capability-boxes.capability-item.strategy-idle
        .capabilities-text
            p 01.
            h4.capability-heading MISSION
        .capability-svg.capability-svg-mobile
          .strategy
            .capabilities-text.white
                p 01.
                h4.capability-heading MISSION



  a(href="../capabilities/#design")
    .small-12.medium-6.large-4.columns.capability-boxes.capability-item.design-idle
        .capabilities-text
            p 02.
            h4.capability-heading VISION

        .capability-svg.capability-svg-mobile
          .design
            .capabilities-text.white
                p 02.
                h4.capability-heading VISION

  a(href="/capabilities/#development")
    .small-12.medium-6.large-4.columns.capability-boxes.capability-item.develop-idle
        .capabilities-text
            p 03.
            h4.capability-heading VALUES

         .capability-svg.capability-svg-mobile
           .develop
             .capabilities-text.white
                p 03.
                h4.capability-heading VALUES

.row.wrapper
    .clientele.full-width#client
        h3 OUR FEATURED PRODUCTS

        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
 .bck-client

        .client-logos
             ul
                .large-block-grid-6.medium-block-grid-3.small-block-grid-2
                    li
                      img(src='../images/client-logo/Selected-clients-png_0019_dell.png')
                    li
                      img(src='../images/client-logo/Selected-clients-png_0016_kaspersky.png')
                    li
                      img(src='../images/client-logo/Selected-clients-png_0017_bitdefender.png')
                    li
                      img(src='../images/client-logo/Selected-clients-png_0005_Intex.png')
                    li
                      img(src='../images/client-logo/Selected-clients-png_0014_BAT.png')

                    li
                      img(src='../images/client-logo/Selected-clients-png_0022_who.png')
                    li
                      img(src='../images/client-logo/Selected-clients-png_0023_mns.png')
                    li
                      img(src='../images/client-logo/Selected-clients-png_0008_Rahimafrooz.png')
                    li
                      img(src='../images/client-logo/Selected-clients-png_0002_prothom-alo.png')
                    li
                      img(src='../images/client-logo/Selected-clients-png_0006_akhoni.png')

                    li
                      img(src='../images/client-logo/Selected-clients-png_0003_startup-weekend.png')
                    li
                      img(src='../images/client-logo/Selected-clients-png_0004_Preetom.png')
